<div class="h-[85vh] md:h-[75vh] p-4">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-0 lg:gap-10">
    <div class="lg:mb-0 h-fit" id="cards-container"></div>
    <div class="mb-2 border border-[var(--main-light-2)] dark:border-[var(--main-dark-8)] rounded-lg overflow-hidden shadow relative bg-[var(--main-bg-light)] dark:bg-[var(--main-dark-3)] h-fit w-full md:w-full 2xl:w-[50%]">
      <div class="w-full" id="total-container"></div>
      <div class="flex w-full justify-center items-center">
        <a href="/checkout" class="flex justify-center items-center w-full text-center p-2 bg-[var(--main-bg-dark)] dark:bg-[var(--main-bg-light)] text-[var(--main-text-dark)] dark:text-[var(--main-text-light)]" id="checkout">
          Continuar compra
        </a>

      </div>
      <div id="wallet_container"></div>
    </div>
  </div>
</div>