<div class="h-[85vh] md:h-[75vh] p-4">
  <div class="grid grid-cols-1 lg:grid-cols-2">
    <div>
      <p>Productos</p>
      <div id="cards-container"></div>
    </div>
    <div>
      <p>Total</p>
    </div>
  </div>
</div>