<style>
  .nav-for-slider .swiper-slide {
    height: auto;
    width: auto;
    cursor: pointer;
  }

  .swiper-wrapper {
    height: auto;
  }

  .nav-for-slider .swiper-slide img {
    border: 2px solid transparent;
    border-radius: 10px;
  }

  .nav-for-slider .swiper-slide-thumb-active img {
    border-color: rgb(79 70 229);
  }
</style>
<section class="py-24">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 lg:grid-cols-2">
      <div class="slider-box w-full h-full max-lg:mx-auto mx-0">
        <div class="swiper main-slide-carousel swiper-container relative mb-6">
          <div class="swiper-wrapper">
          </div>
        </div>
        <div class="nav-for-slider">
          <div class="swiper-wrapper flex flex-col">
            <div class="swiper-slide thumbs-slide">
              <img src="https://pagedone.io/asset/uploads/1700472379.png" alt="Summer Travel Bag image"
                class="cursor-pointer rounded-xl transition-all duration-500" />
            </div>
            <span class="flex">
              <div class="swiper-slide thumbs-slide">
                <img src="https://pagedone.io/asset/uploads/1700472430.png" alt="Summer Travel Bag image"
                  class="cursor-pointer rounded-xl transition-all duration-500 border hover:border-[var(--main-dark-1)]" />
              </div>
              <div class="swiper-slide thumbs-slide">
                <img src="https://pagedone.io/asset/uploads/1700472416.png" alt="Summer Travel Bag image"
                  class="cursor-pointer rounded-xl transition-all duration-500 border hover:border-[var(--main-dark-1)]" />
              </div>
              <div class="swiper-slide thumbs-slide">
                <img src="https://pagedone.io/asset/uploads/1700472446.png" alt="Summer Travel Bag image"
                  class="cursor-pointer rounded-xl transition-all duration-500 border hover:border-[var(--main-dark-1)]" />
              </div>
              <div class="swiper-slide thumbs-slide">
                <img src="https://pagedone.io/asset/uploads/1700472467.png" alt="Summer Travel Bag image"
                  class="cursor-pointer rounded-xl transition-all duration-500 border hover:border-[var(--main-dark-1)]" />
              </div>
            </span>
          </div>
        </div>
      </div>
      <div class="flex justify-center items-center">
        <div class="pro-detail w-full max-lg:max-w-[608px] lg:pl-8 xl:pl-16 max-lg:mx-auto max-lg:mt-8">
          <div class="flex items-center justify-between gap-6 mb-6">
            <div class="text">
              <h2 class="font-manrope font-bold text-3xl leading-10 text-[var(--main-text-light)] mb-2">Yellow Summer
                Travel Bag
              </h2>
              <p class="font-normal text-base text-gray-500">ABS LUGGAGE</p>
            </div>
            <button class="group transition-all duration-500 p-0.5">
              <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle class="fill-indigo-50 transition-all duration-500 group-hover:fill-indigo-100" cx="30" cy="30"
                  r="30" fill="" />
                <path
                  class="stroke-[var(--main-dark-1)] transition-all duration-500 group-hover:stroke-[var(--main-dark-5)]"
                  d="M21.4709 31.3196L30.0282 39.7501L38.96 30.9506M30.0035 22.0789C32.4787 19.6404 36.5008 19.6404 38.976 22.0789C41.4512 24.5254 41.4512 28.4799 38.9842 30.9265M29.9956 22.0789C27.5205 19.6404 23.4983 19.6404 21.0231 22.0789C18.548 24.5174 18.548 28.4799 21.0231 30.9184M21.0231 30.9184L21.0441 30.939M21.0231 30.9184L21.4628 31.3115"
                  stroke="" stroke-width="1.6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </button>
          </div>

          <div class="flex flex-col min-[400px]:flex-row min-[400px]:items-center mb-8 gap-y-3">
            <div class="flex items-center">
              <h5 class="font-manrope font-semibold text-2xl leading-9 text-[var(--main-text-light)]">$ 199.00 </h5>
              <span class="ml-3 font-semibold text-lg text-[var(--main-dark-1)]">30% off</span>
            </div>
            <svg class="mx-5 max-[400px]:hidden" xmlns="http://www.w3.org/2000/svg" width="2" height="36"
              viewBox="0 0 2 36" fill="none">
              <path d="M1 0V36" stroke="#E5E7EB" />
            </svg>
            <button class="flex items-center gap-1 rounded-lg bg-amber-400 py-1.5 px-2.5 w-max">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_12657_16865)">
                  <path
                    d="M8.10326 2.26718C8.47008 1.52393 9.52992 1.52394 9.89674 2.26718L11.4124 5.33818C11.558 5.63332 11.8396 5.83789 12.1653 5.88522L15.5543 6.37768C16.3746 6.49686 16.7021 7.50483 16.1086 8.08337L13.6562 10.4738C13.4205 10.7035 13.313 11.0345 13.3686 11.3589L13.9475 14.7343C14.0877 15.5512 13.2302 16.1742 12.4966 15.7885L9.46534 14.1948C9.17402 14.0417 8.82598 14.0417 8.53466 14.1948L5.5034 15.7885C4.76978 16.1742 3.91235 15.5512 4.05246 14.7343L4.63137 11.3589C4.68701 11.0345 4.57946 10.7035 4.34378 10.4738L1.89144 8.08337C1.29792 7.50483 1.62543 6.49686 2.44565 6.37768L5.8347 5.88522C6.16041 5.83789 6.44197 5.63332 6.58764 5.33818L8.10326 2.26718Z"
                    fill="white" />
                  <g clip-path="url(#clip1_12657_16865)">
                    <path
                      d="M8.10326 2.26718C8.47008 1.52393 9.52992 1.52394 9.89674 2.26718L11.4124 5.33818C11.558 5.63332 11.8396 5.83789 12.1653 5.88522L15.5543 6.37768C16.3746 6.49686 16.7021 7.50483 16.1086 8.08337L13.6562 10.4738C13.4205 10.7035 13.313 11.0345 13.3686 11.3589L13.9475 14.7343C14.0877 15.5512 13.2302 16.1742 12.4966 15.7885L9.46534 14.1948C9.17402 14.0417 8.82598 14.0417 8.53466 14.1948L5.5034 15.7885C4.76978 16.1742 3.91235 15.5512 4.05246 14.7343L4.63137 11.3589C4.68701 11.0345 4.57946 10.7035 4.34378 10.4738L1.89144 8.08337C1.29792 7.50483 1.62543 6.49686 2.44565 6.37768L5.8347 5.88522C6.16041 5.83789 6.44197 5.63332 6.58764 5.33818L8.10326 2.26718Z"
                      fill="white" />
                  </g>
                </g>
                <defs>
                  <clipPath id="clip0_12657_16865">
                    <rect width="18" height="18" fill="white" />
                  </clipPath>
                  <clipPath id="clip1_12657_16865">
                    <rect width="18" height="18" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              <span class="text-base font-medium text-white">4.8</span>
            </button>
          </div>
          <p class="font-medium text-lg text-[var(--main-text-light)] mb-2">Color</p>
          <div class="grid grid-cols-3 gap-3 mb-6 max-w-sm">
            <div class="color-box group">
              <div>
                <img src="https://pagedone.io/asset/uploads/1700472379.png" alt="Summer Travel Bag image"
                  class="min-[400px]:h-[100px] aspect-square border-2 border-gray-100 rounded-xl transition-all duration-500 group-hover:border-[var(--main-dark-1)]"
                  class="border border-gray-300 rounded-lg" />
                <p
                  class="font-normal text-sm leading-6 text-gray-400 text-center mt-2 group-hover:text-[var(--main-dark-1)]">
                  Black</p>
              </div>
            </div>

            <div class="color-box group">
              <div>
                <img src="https://pagedone.io/asset/uploads/1700472517.png" alt="Summer Travel Bag image"
                  class="border-2 border-gray-100 rounded-xl transition-all duration-500 group-hover:border-[var(--main-dark-1)]"
                  class="border border-gray-300 rounded-lg" />
                <p
                  class="font-normal text-sm leading-6 text-gray-400 text-center mt-2 group-hover:text-[var(--main-dark-1)]">
                  Brown</p>
              </div>
            </div>

            <div class="color-box group">
              <div>
                <img src="https://pagedone.io/asset/uploads/1700472529.png" alt="Summer Travel Bag image"
                  class="border-2 border-gray-100 rounded-xl transition-all duration-500 group-hover:border-[var(--main-dark-1)]"
                  class="border border-gray-300 rounded-lg" />
                <p
                  class="font-normal text-sm leading-6 text-gray-400 text-center mt-2 group-hover:text-[var(--main-dark-1)]">
                  Beige</p>
              </div>
            </div>
          </div>
          <p class="font-medium text-lg text-[var(--main-text-light)] mb-2">Size (KG)</p>
          <div class="grid grid-cols-2 min-[400px]:grid-cols-4 gap-3 mb-3 min-[400px]:mb-8">
            <button
              class="border border-gray-200 whitespace-nowrap text-[var(--main-text-light)] text-sm leading-6 py-2.5 rounded-full px-5 text-center w-full font-semibold shadow-sm shadow-transparent transition-all duration-300 hover:bg-gray-50 hover:shadow-gray-300">Full
              Set</button>
            <button
              class="border border-gray-200 whitespace-nowrap text-[var(--main-text-light)] text-sm leading-6 py-2.5 rounded-full px-5 text-center w-full font-semibold shadow-sm shadow-transparent transition-all duration-300 hover:bg-gray-50 hover:shadow-gray-300">
              10 kg</button>
            <button
              class="border border-gray-200 whitespace-nowrap text-[var(--main-text-light)] text-sm leading-6 py-2.5 rounded-full px-5 text-center w-full font-semibold shadow-sm shadow-transparent transition-all duration-300 hover:bg-gray-50 hover:shadow-gray-300">
              25 kg</button>
            <button
              class="border border-gray-200 whitespace-nowrap text-[var(--main-text-light)] text-sm leading-6 py-2.5 rounded-full px-5 text-center w-full font-semibold shadow-sm shadow-transparent transition-all duration-300 hover:bg-gray-50 hover:shadow-gray-300">
              35 kg</button>
          </div>
          <div class="flex items-center flex-col min-[400px]:flex-row gap-3 mb-3 min-[400px]:mb-8">
            <div class="flex items-center justify-center border border-gray-400 rounded-full">
              <button
                class="group py-[14px] px-3 w-full border-r border-gray-400 rounded-l-full h-full flex items-center justify-center bg-white shadow-sm shadow-transparent transition-all duration-300 hover:bg-gray-50 hover:shadow-gray-300">
                <svg class="stroke-black group-hover:stroke-black" width="22" height="22" viewBox="0 0 22 22"
                  fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16.5 11H5.5" stroke="" stroke-width="1.6" stroke-linecap="round" />
                  <path d="M16.5 11H5.5" stroke="" stroke-opacity="0.2" stroke-width="1.6" stroke-linecap="round" />
                  <path d="M16.5 11H5.5" stroke="" stroke-opacity="0.2" stroke-width="1.6" stroke-linecap="round" />
                </svg>
              </button>
              <input type="text"
                class="font-semibold text-[var(--main-text-light)] text-lg py-3 px-2 w-full min-[400px]:min-w-[75px] h-full bg-transparent placeholder:text-[var(--main-text-light)] text-center hover:text-[var(--main-dark-1)] outline-0 hover:placeholder:text-[var(--main-dark-1)]"
                placeholder="1" />
              <button
                class="group py-[14px] px-3 w-full border-l border-gray-400 rounded-r-full h-full flex items-center justify-center bg-white shadow-sm shadow-transparent transition-all duration-300 hover:bg-gray-50 hover:shadow-gray-300">
                <svg class="stroke-black group-hover:stroke-black" width="22" height="22" viewBox="0 0 22 22"
                  fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11 5.5V16.5M16.5 11H5.5" stroke="#9CA3AF" stroke-width="1.6" stroke-linecap="round" />
                  <path d="M11 5.5V16.5M16.5 11H5.5" stroke="black" stroke-opacity="0.2" stroke-width="1.6"
                    stroke-linecap="round" />
                  <path d="M11 5.5V16.5M16.5 11H5.5" stroke="black" stroke-opacity="0.2" stroke-width="1.6"
                    stroke-linecap="round" />
                </svg>
              </button>
            </div>
            <button
              class="group py-3 px-5 rounded-full bg-[var(--main-light-accent)] text-[var(--main-dark-1)] font-semibold text-lg w-full flex items-center justify-center gap-2 shadow-sm shadow-transparent transition-all duration-500 hover:shadow-indigo-300 hover:bg-indigo-100">
              <svg
                class="stroke-[var(--main-dark-1)] transition-all duration-500 group-hover:stroke-[var(--main-dark-1)]"
                width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M10.7394 17.875C10.7394 18.6344 10.1062 19.25 9.32511 19.25C8.54402 19.25 7.91083 18.6344 7.91083 17.875M16.3965 17.875C16.3965 18.6344 15.7633 19.25 14.9823 19.25C14.2012 19.25 13.568 18.6344 13.568 17.875M4.1394 5.5L5.46568 12.5908C5.73339 14.0221 5.86724 14.7377 6.37649 15.1605C6.88573 15.5833 7.61377 15.5833 9.06984 15.5833H15.2379C16.6941 15.5833 17.4222 15.5833 17.9314 15.1605C18.4407 14.7376 18.5745 14.0219 18.8421 12.5906L19.3564 9.84059C19.7324 7.82973 19.9203 6.8243 19.3705 6.16215C18.8207 5.5 17.7979 5.5 15.7522 5.5H4.1394ZM4.1394 5.5L3.66797 2.75"
                  stroke="" stroke-width="1.6" stroke-linecap="round" />
              </svg>
              Add to cart</button>
          </div>
          <button
            class="text-center w-full px-5 py-4 rounded-[100px] bg-[var(--main-dark-1)] flex items-center justify-center font-semibold text-lg text-white shadow-sm shadow-transparent transition-all duration-500 hover:bg-[var(--main-dark-5)] hover:shadow-indigo-300">
            Buy Now
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-24 relative">
  <div class="w-full max-w-7xl px-4 md:px-5 lg:px-6 mx-auto">
    <div class="">
      <h2 class="font-manrope font-bold text-3xl sm:text-4xl leading-10 text-black mb-8 text-center">
        Customer reviews &
        rating</h2>
      <div class="grid grid-cols-12 mb-11">

        <div class="col-span-12 xl:col-span-4 flex items-center">
          <div class="box flex flex-col gap-y-4 w-full max-xl:max-w-3xl mx-auto">
            <div class="flex items-center w-full">
              <p class="font-medium text-lg py-[1px] text-black mr-[2px]">5</p>
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_12042_8589)">
                  <path
                    d="M9.10326 2.31699C9.47008 1.57374 10.5299 1.57374 10.8967 2.31699L12.7063 5.98347C12.8519 6.27862 13.1335 6.48319 13.4592 6.53051L17.5054 7.11846C18.3256 7.23765 18.6531 8.24562 18.0596 8.82416L15.1318 11.6781C14.8961 11.9079 14.7885 12.2389 14.8442 12.5632L15.5353 16.5931C15.6754 17.41 14.818 18.033 14.0844 17.6473L10.4653 15.7446C10.174 15.5915 9.82598 15.5915 9.53466 15.7446L5.91562 17.6473C5.18199 18.033 4.32456 17.41 4.46467 16.5931L5.15585 12.5632C5.21148 12.2389 5.10393 11.9079 4.86825 11.6781L1.94038 8.82416C1.34687 8.24562 1.67438 7.23765 2.4946 7.11846L6.54081 6.53051C6.86652 6.48319 7.14808 6.27862 7.29374 5.98347L9.10326 2.31699Z"
                    fill="#FBBF24" />
                </g>
                <defs>
                  <clipPath id="clip0_12042_8589">
                    <rect width="20" height="20" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              <p class="h-2 w-full sm:min-w-[278px] rounded-[30px] bg-gray-200 ml-5 mr-3">
                <span class="h-full w-[30%] rounded-[30px] bg-[var(--main-dark-3)] flex"></span>
              </p>
              <p class="font-medium text-lg py-[1px] text-black mr-[2px]">30</p>
            </div>
            <div class="flex items-center w-full">
              <p class="font-medium text-lg py-[1px] text-black mr-[2px]">4</p>
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_12042_8589)">
                  <path
                    d="M9.10326 2.31699C9.47008 1.57374 10.5299 1.57374 10.8967 2.31699L12.7063 5.98347C12.8519 6.27862 13.1335 6.48319 13.4592 6.53051L17.5054 7.11846C18.3256 7.23765 18.6531 8.24562 18.0596 8.82416L15.1318 11.6781C14.8961 11.9079 14.7885 12.2389 14.8442 12.5632L15.5353 16.5931C15.6754 17.41 14.818 18.033 14.0844 17.6473L10.4653 15.7446C10.174 15.5915 9.82598 15.5915 9.53466 15.7446L5.91562 17.6473C5.18199 18.033 4.32456 17.41 4.46467 16.5931L5.15585 12.5632C5.21148 12.2389 5.10393 11.9079 4.86825 11.6781L1.94038 8.82416C1.34687 8.24562 1.67438 7.23765 2.4946 7.11846L6.54081 6.53051C6.86652 6.48319 7.14808 6.27862 7.29374 5.98347L9.10326 2.31699Z"
                    fill="#FBBF24" />
                </g>
                <defs>
                  <clipPath id="clip0_12042_8589">
                    <rect width="20" height="20" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              <p class="h-2 w-full xl:min-w-[278px] rounded-[30px] bg-gray-200 ml-5 mr-3">
                <span class="h-full w-[40%] rounded-[30px] bg-[var(--main-dark-3)] flex"></span>
              </p>
              <p class="font-medium text-lg py-[1px] text-black mr-[2px]">40</p>
            </div>
            <div class="flex items-center">
              <p class="font-medium text-lg py-[1px] text-black mr-[2px]">3</p>
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_12042_8589)">
                  <path
                    d="M9.10326 2.31699C9.47008 1.57374 10.5299 1.57374 10.8967 2.31699L12.7063 5.98347C12.8519 6.27862 13.1335 6.48319 13.4592 6.53051L17.5054 7.11846C18.3256 7.23765 18.6531 8.24562 18.0596 8.82416L15.1318 11.6781C14.8961 11.9079 14.7885 12.2389 14.8442 12.5632L15.5353 16.5931C15.6754 17.41 14.818 18.033 14.0844 17.6473L10.4653 15.7446C10.174 15.5915 9.82598 15.5915 9.53466 15.7446L5.91562 17.6473C5.18199 18.033 4.32456 17.41 4.46467 16.5931L5.15585 12.5632C5.21148 12.2389 5.10393 11.9079 4.86825 11.6781L1.94038 8.82416C1.34687 8.24562 1.67438 7.23765 2.4946 7.11846L6.54081 6.53051C6.86652 6.48319 7.14808 6.27862 7.29374 5.98347L9.10326 2.31699Z"
                    fill="#FBBF24" />
                </g>
                <defs>
                  <clipPath id="clip0_12042_8589">
                    <rect width="20" height="20" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              <p class="h-2 w-full xl:min-w-[278px] rounded-[30px] bg-gray-200 ml-5 mr-3">
                <span class="h-full w-[20%] rounded-[30px] bg-[var(--main-dark-3)] flex"></span>
              </p>
              <p class="font-medium text-lg py-[1px] text-black mr-[2px]">20</p>
            </div>
            <div class="flex items-center">
              <p class="font-medium text-lg py-[1px] text-black mr-[2px]">2</p>
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_12042_8589)">
                  <path
                    d="M9.10326 2.31699C9.47008 1.57374 10.5299 1.57374 10.8967 2.31699L12.7063 5.98347C12.8519 6.27862 13.1335 6.48319 13.4592 6.53051L17.5054 7.11846C18.3256 7.23765 18.6531 8.24562 18.0596 8.82416L15.1318 11.6781C14.8961 11.9079 14.7885 12.2389 14.8442 12.5632L15.5353 16.5931C15.6754 17.41 14.818 18.033 14.0844 17.6473L10.4653 15.7446C10.174 15.5915 9.82598 15.5915 9.53466 15.7446L5.91562 17.6473C5.18199 18.033 4.32456 17.41 4.46467 16.5931L5.15585 12.5632C5.21148 12.2389 5.10393 11.9079 4.86825 11.6781L1.94038 8.82416C1.34687 8.24562 1.67438 7.23765 2.4946 7.11846L6.54081 6.53051C6.86652 6.48319 7.14808 6.27862 7.29374 5.98347L9.10326 2.31699Z"
                    fill="#FBBF24" />
                </g>
                <defs>
                  <clipPath id="clip0_12042_8589">
                    <rect width="20" height="20" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              <p class="h-2 w-full xl:min-w-[278px] rounded-[30px] bg-gray-200 ml-5 mr-3">
                <span class="h-full w-[16%] rounded-[30px] bg-[var(--main-dark-3)] flex"></span>
              </p>
              <p class="font-medium text-lg py-[1px] text-black mr-[2px]">16</p>
            </div>
            <div class="flex items-center">
              <p class="font-medium text-lg py-[1px] text-black mr-[2px]">1</p>
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_12042_8589)">
                  <path
                    d="M9.10326 2.31699C9.47008 1.57374 10.5299 1.57374 10.8967 2.31699L12.7063 5.98347C12.8519 6.27862 13.1335 6.48319 13.4592 6.53051L17.5054 7.11846C18.3256 7.23765 18.6531 8.24562 18.0596 8.82416L15.1318 11.6781C14.8961 11.9079 14.7885 12.2389 14.8442 12.5632L15.5353 16.5931C15.6754 17.41 14.818 18.033 14.0844 17.6473L10.4653 15.7446C10.174 15.5915 9.82598 15.5915 9.53466 15.7446L5.91562 17.6473C5.18199 18.033 4.32456 17.41 4.46467 16.5931L5.15585 12.5632C5.21148 12.2389 5.10393 11.9079 4.86825 11.6781L1.94038 8.82416C1.34687 8.24562 1.67438 7.23765 2.4946 7.11846L6.54081 6.53051C6.86652 6.48319 7.14808 6.27862 7.29374 5.98347L9.10326 2.31699Z"
                    fill="#FBBF24" />
                </g>
                <defs>
                  <clipPath id="clip0_12042_8589">
                    <rect width="20" height="20" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              <p class="h-2 w-full xl:min-w-[278px] rounded-[30px] bg-gray-200 ml-5 mr-3">
                <span class="h-full w-[8%] rounded-[30px] bg-[var(--main-dark-3)] flex"></span>
              </p>
              <p class="font-medium text-lg py-[1px] text-black mr-[2px]">8</p>
            </div>
          </div>
        </div>
        <div class="col-span-12 max-xl:mt-8 xl:col-span-8 xl:pl-8 w-full min-h-[230px]">
          <div
            class="grid grid-cols-12 h-full px-8 max-lg:py-8 rounded-3xl bg-gray-100 w-full max-xl:max-w-3xl max-xl:mx-auto">
            <div class="col-span-12 md:col-span-8 flex items-center">
              <div class="flex flex-col sm:flex-row items-center max-lg:justify-center w-full h-full">
                <div class="sm:pr-3 sm:border-r border-gray-200 flex items-center justify-center flex-col">
                  <h2 class="font-manrope font-bold text-5xl text-black text-center mb-4">4.3</h2>
                  <div class="flex items-center gap-3 mb-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                      <g clip-path="url(#clip0_13624_3137)">
                        <path
                          d="M17.1033 2.71738C17.4701 1.97413 18.5299 1.97413 18.8967 2.71738L23.0574 11.1478C23.2031 11.4429 23.4846 11.6475 23.8103 11.6948L33.1139 13.0467C33.9341 13.1659 34.2616 14.1739 33.6681 14.7524L26.936 21.3146C26.7003 21.5443 26.5927 21.8753 26.6484 22.1997L28.2376 31.4656C28.3777 32.2825 27.5203 32.9055 26.7867 32.5198L18.4653 28.145C18.174 27.9919 17.826 27.9919 17.5347 28.145L9.21334 32.5198C8.47971 32.9055 7.62228 32.2825 7.76239 31.4656L9.35162 22.1997C9.40726 21.8753 9.29971 21.5443 9.06402 21.3146L2.33193 14.7524C1.73841 14.1739 2.06593 13.1659 2.88615 13.0467L12.1897 11.6948C12.5154 11.6475 12.7969 11.4429 12.9426 11.1478L17.1033 2.71738Z"
                          fill="#FBBF24" />
                      </g>
                      <defs>
                        <clipPath id="clip0_13624_3137">
                          <rect width="36" height="36" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                      <g clip-path="url(#clip0_13624_3137)">
                        <path
                          d="M17.1033 2.71738C17.4701 1.97413 18.5299 1.97413 18.8967 2.71738L23.0574 11.1478C23.2031 11.4429 23.4846 11.6475 23.8103 11.6948L33.1139 13.0467C33.9341 13.1659 34.2616 14.1739 33.6681 14.7524L26.936 21.3146C26.7003 21.5443 26.5927 21.8753 26.6484 22.1997L28.2376 31.4656C28.3777 32.2825 27.5203 32.9055 26.7867 32.5198L18.4653 28.145C18.174 27.9919 17.826 27.9919 17.5347 28.145L9.21334 32.5198C8.47971 32.9055 7.62228 32.2825 7.76239 31.4656L9.35162 22.1997C9.40726 21.8753 9.29971 21.5443 9.06402 21.3146L2.33193 14.7524C1.73841 14.1739 2.06593 13.1659 2.88615 13.0467L12.1897 11.6948C12.5154 11.6475 12.7969 11.4429 12.9426 11.1478L17.1033 2.71738Z"
                          fill="#FBBF24" />
                      </g>
                      <defs>
                        <clipPath id="clip0_13624_3137">
                          <rect width="36" height="36" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                      <g clip-path="url(#clip0_13624_3137)">
                        <path
                          d="M17.1033 2.71738C17.4701 1.97413 18.5299 1.97413 18.8967 2.71738L23.0574 11.1478C23.2031 11.4429 23.4846 11.6475 23.8103 11.6948L33.1139 13.0467C33.9341 13.1659 34.2616 14.1739 33.6681 14.7524L26.936 21.3146C26.7003 21.5443 26.5927 21.8753 26.6484 22.1997L28.2376 31.4656C28.3777 32.2825 27.5203 32.9055 26.7867 32.5198L18.4653 28.145C18.174 27.9919 17.826 27.9919 17.5347 28.145L9.21334 32.5198C8.47971 32.9055 7.62228 32.2825 7.76239 31.4656L9.35162 22.1997C9.40726 21.8753 9.29971 21.5443 9.06402 21.3146L2.33193 14.7524C1.73841 14.1739 2.06593 13.1659 2.88615 13.0467L12.1897 11.6948C12.5154 11.6475 12.7969 11.4429 12.9426 11.1478L17.1033 2.71738Z"
                          fill="#FBBF24" />
                      </g>
                      <defs>
                        <clipPath id="clip0_13624_3137">
                          <rect width="36" height="36" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                      <g clip-path="url(#clip0_13624_3137)">
                        <path
                          d="M17.1033 2.71738C17.4701 1.97413 18.5299 1.97413 18.8967 2.71738L23.0574 11.1478C23.2031 11.4429 23.4846 11.6475 23.8103 11.6948L33.1139 13.0467C33.9341 13.1659 34.2616 14.1739 33.6681 14.7524L26.936 21.3146C26.7003 21.5443 26.5927 21.8753 26.6484 22.1997L28.2376 31.4656C28.3777 32.2825 27.5203 32.9055 26.7867 32.5198L18.4653 28.145C18.174 27.9919 17.826 27.9919 17.5347 28.145L9.21334 32.5198C8.47971 32.9055 7.62228 32.2825 7.76239 31.4656L9.35162 22.1997C9.40726 21.8753 9.29971 21.5443 9.06402 21.3146L2.33193 14.7524C1.73841 14.1739 2.06593 13.1659 2.88615 13.0467L12.1897 11.6948C12.5154 11.6475 12.7969 11.4429 12.9426 11.1478L17.1033 2.71738Z"
                          fill="#FBBF24" />
                      </g>
                      <defs>
                        <clipPath id="clip0_13624_3137">
                          <rect width="36" height="36" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                      <g clip-path="url(#clip0_13624_3137)">
                        <path
                          d="M17.1033 2.71738C17.4701 1.97413 18.5299 1.97413 18.8967 2.71738L23.0574 11.1478C23.2031 11.4429 23.4846 11.6475 23.8103 11.6948L33.1139 13.0467C33.9341 13.1659 34.2616 14.1739 33.6681 14.7524L26.936 21.3146C26.7003 21.5443 26.5927 21.8753 26.6484 22.1997L28.2376 31.4656C28.3777 32.2825 27.5203 32.9055 26.7867 32.5198L18.4653 28.145C18.174 27.9919 17.826 27.9919 17.5347 28.145L9.21334 32.5198C8.47971 32.9055 7.62228 32.2825 7.76239 31.4656L9.35162 22.1997C9.40726 21.8753 9.29971 21.5443 9.06402 21.3146L2.33193 14.7524C1.73841 14.1739 2.06593 13.1659 2.88615 13.0467L12.1897 11.6948C12.5154 11.6475 12.7969 11.4429 12.9426 11.1478L17.1033 2.71738Z"
                          fill="#FBBF24" />
                      </g>
                      <defs>
                        <clipPath id="clip0_13624_3137">
                          <rect width="36" height="36" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                  <p class="font-normal text-lg leading-8 text-gray-400">46 Ratings</p>
                </div>

                <div class="sm:pl-3 sm:border-l border-gray-200 flex items-center justify-center flex-col">
                  <h2 class="font-manrope font-bold text-5xl text-black text-center mb-4">4.8</h2>
                  <div class="flex items-center gap-3 mb-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                      <g clip-path="url(#clip0_13624_3137)">
                        <path
                          d="M17.1033 2.71738C17.4701 1.97413 18.5299 1.97413 18.8967 2.71738L23.0574 11.1478C23.2031 11.4429 23.4846 11.6475 23.8103 11.6948L33.1139 13.0467C33.9341 13.1659 34.2616 14.1739 33.6681 14.7524L26.936 21.3146C26.7003 21.5443 26.5927 21.8753 26.6484 22.1997L28.2376 31.4656C28.3777 32.2825 27.5203 32.9055 26.7867 32.5198L18.4653 28.145C18.174 27.9919 17.826 27.9919 17.5347 28.145L9.21334 32.5198C8.47971 32.9055 7.62228 32.2825 7.76239 31.4656L9.35162 22.1997C9.40726 21.8753 9.29971 21.5443 9.06402 21.3146L2.33193 14.7524C1.73841 14.1739 2.06593 13.1659 2.88615 13.0467L12.1897 11.6948C12.5154 11.6475 12.7969 11.4429 12.9426 11.1478L17.1033 2.71738Z"
                          fill="#FBBF24" />
                      </g>
                      <defs>
                        <clipPath id="clip0_13624_3137">
                          <rect width="36" height="36" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                      <g clip-path="url(#clip0_13624_3137)">
                        <path
                          d="M17.1033 2.71738C17.4701 1.97413 18.5299 1.97413 18.8967 2.71738L23.0574 11.1478C23.2031 11.4429 23.4846 11.6475 23.8103 11.6948L33.1139 13.0467C33.9341 13.1659 34.2616 14.1739 33.6681 14.7524L26.936 21.3146C26.7003 21.5443 26.5927 21.8753 26.6484 22.1997L28.2376 31.4656C28.3777 32.2825 27.5203 32.9055 26.7867 32.5198L18.4653 28.145C18.174 27.9919 17.826 27.9919 17.5347 28.145L9.21334 32.5198C8.47971 32.9055 7.62228 32.2825 7.76239 31.4656L9.35162 22.1997C9.40726 21.8753 9.29971 21.5443 9.06402 21.3146L2.33193 14.7524C1.73841 14.1739 2.06593 13.1659 2.88615 13.0467L12.1897 11.6948C12.5154 11.6475 12.7969 11.4429 12.9426 11.1478L17.1033 2.71738Z"
                          fill="#FBBF24" />
                      </g>
                      <defs>
                        <clipPath id="clip0_13624_3137">
                          <rect width="36" height="36" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                      <g clip-path="url(#clip0_13624_3137)">
                        <path
                          d="M17.1033 2.71738C17.4701 1.97413 18.5299 1.97413 18.8967 2.71738L23.0574 11.1478C23.2031 11.4429 23.4846 11.6475 23.8103 11.6948L33.1139 13.0467C33.9341 13.1659 34.2616 14.1739 33.6681 14.7524L26.936 21.3146C26.7003 21.5443 26.5927 21.8753 26.6484 22.1997L28.2376 31.4656C28.3777 32.2825 27.5203 32.9055 26.7867 32.5198L18.4653 28.145C18.174 27.9919 17.826 27.9919 17.5347 28.145L9.21334 32.5198C8.47971 32.9055 7.62228 32.2825 7.76239 31.4656L9.35162 22.1997C9.40726 21.8753 9.29971 21.5443 9.06402 21.3146L2.33193 14.7524C1.73841 14.1739 2.06593 13.1659 2.88615 13.0467L12.1897 11.6948C12.5154 11.6475 12.7969 11.4429 12.9426 11.1478L17.1033 2.71738Z"
                          fill="#FBBF24" />
                      </g>
                      <defs>
                        <clipPath id="clip0_13624_3137">
                          <rect width="36" height="36" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                      <g clip-path="url(#clip0_13624_3137)">
                        <path
                          d="M17.1033 2.71738C17.4701 1.97413 18.5299 1.97413 18.8967 2.71738L23.0574 11.1478C23.2031 11.4429 23.4846 11.6475 23.8103 11.6948L33.1139 13.0467C33.9341 13.1659 34.2616 14.1739 33.6681 14.7524L26.936 21.3146C26.7003 21.5443 26.5927 21.8753 26.6484 22.1997L28.2376 31.4656C28.3777 32.2825 27.5203 32.9055 26.7867 32.5198L18.4653 28.145C18.174 27.9919 17.826 27.9919 17.5347 28.145L9.21334 32.5198C8.47971 32.9055 7.62228 32.2825 7.76239 31.4656L9.35162 22.1997C9.40726 21.8753 9.29971 21.5443 9.06402 21.3146L2.33193 14.7524C1.73841 14.1739 2.06593 13.1659 2.88615 13.0467L12.1897 11.6948C12.5154 11.6475 12.7969 11.4429 12.9426 11.1478L17.1033 2.71738Z"
                          fill="#FBBF24" />
                      </g>
                      <defs>
                        <clipPath id="clip0_13624_3137">
                          <rect width="36" height="36" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                      <g clip-path="url(#clip0_13624_3137)">
                        <path
                          d="M17.1033 2.71738C17.4701 1.97413 18.5299 1.97413 18.8967 2.71738L23.0574 11.1478C23.2031 11.4429 23.4846 11.6475 23.8103 11.6948L33.1139 13.0467C33.9341 13.1659 34.2616 14.1739 33.6681 14.7524L26.936 21.3146C26.7003 21.5443 26.5927 21.8753 26.6484 22.1997L28.2376 31.4656C28.3777 32.2825 27.5203 32.9055 26.7867 32.5198L18.4653 28.145C18.174 27.9919 17.826 27.9919 17.5347 28.145L9.21334 32.5198C8.47971 32.9055 7.62228 32.2825 7.76239 31.4656L9.35162 22.1997C9.40726 21.8753 9.29971 21.5443 9.06402 21.3146L2.33193 14.7524C1.73841 14.1739 2.06593 13.1659 2.88615 13.0467L12.1897 11.6948C12.5154 11.6475 12.7969 11.4429 12.9426 11.1478L17.1033 2.71738Z"
                          fill="#FBBF24" />
                      </g>
                      <defs>
                        <clipPath id="clip0_13624_3137">
                          <rect width="36" height="36" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                  <p class="font-normal text-lg leading-8 text-gray-400">Last Month</p>
                </div>
              </div>
            </div>
            <div class="col-span-12 md:col-span-4 max-lg:mt-8 md:pl-8">
              <div class="flex items-center flex-col justify-center w-full h-full ">
                <button
                  class="rounded-full px-6 py-4 bg-[var(--main-dark-1)] font-semibold text-lg text-white whitespace-nowrap mb-6 w-full text-center shadow-sm shadow-transparent transition-all duration-500 hover:bg-[var(--main-dark-5)] hover:shadow-indigo-400">Write
                  A Review</button>
                <button
                  class="rounded-full px-6 py-4 bg-white font-semibold text-lg text-[var(--main-dark-1)] whitespace-nowrap w-full text-center shadow-sm shadow-transparent transition-all duration-500 hover:bg-indigo-100 hover:shadow-indigo-200">See
                  All Reviews</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pb-8 border-b border-gray-200 max-xl:max-w-3xl max-xl:mx-auto">
        <h4 class="font-manrope font-semibold text-3xl leading-10 text-black mb-6">Most helpful positive
          review</h4>
        <div class="flex sm:items-center flex-col sm:flex-row justify-between  mb-4">
          <div class="flex items-center gap-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
              <g clip-path="url(#clip0_13624_2974)">
                <path
                  d="M14.1033 2.56698C14.4701 1.82374 15.5299 1.82374 15.8967 2.56699L19.1757 9.21093C19.3214 9.50607 19.6029 9.71064 19.9287 9.75797L27.2607 10.8234C28.0809 10.9426 28.4084 11.9505 27.8149 12.5291L22.5094 17.7007C22.2737 17.9304 22.1662 18.2614 22.2218 18.5858L23.4743 25.8882C23.6144 26.7051 22.7569 27.3281 22.0233 26.9424L15.4653 23.4946C15.174 23.3415 14.826 23.3415 14.5347 23.4946L7.9767 26.9424C7.24307 27.3281 6.38563 26.7051 6.52574 25.8882L7.7782 18.5858C7.83384 18.2614 7.72629 17.9304 7.49061 17.7007L2.1851 12.5291C1.59159 11.9505 1.91909 10.9426 2.73931 10.8234L10.0713 9.75797C10.3971 9.71064 10.6786 9.50607 10.8243 9.21093L14.1033 2.56698Z"
                  fill="#FBBF24" />
              </g>
              <defs>
                <clipPath id="clip0_13624_2974">
                  <rect width="30" height="30" fill="white" />
                </clipPath>
              </defs>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
              <g clip-path="url(#clip0_13624_2974)">
                <path
                  d="M14.1033 2.56698C14.4701 1.82374 15.5299 1.82374 15.8967 2.56699L19.1757 9.21093C19.3214 9.50607 19.6029 9.71064 19.9287 9.75797L27.2607 10.8234C28.0809 10.9426 28.4084 11.9505 27.8149 12.5291L22.5094 17.7007C22.2737 17.9304 22.1662 18.2614 22.2218 18.5858L23.4743 25.8882C23.6144 26.7051 22.7569 27.3281 22.0233 26.9424L15.4653 23.4946C15.174 23.3415 14.826 23.3415 14.5347 23.4946L7.9767 26.9424C7.24307 27.3281 6.38563 26.7051 6.52574 25.8882L7.7782 18.5858C7.83384 18.2614 7.72629 17.9304 7.49061 17.7007L2.1851 12.5291C1.59159 11.9505 1.91909 10.9426 2.73931 10.8234L10.0713 9.75797C10.3971 9.71064 10.6786 9.50607 10.8243 9.21093L14.1033 2.56698Z"
                  fill="#FBBF24" />
              </g>
              <defs>
                <clipPath id="clip0_13624_2974">
                  <rect width="30" height="30" fill="white" />
                </clipPath>
              </defs>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
              <g clip-path="url(#clip0_13624_2974)">
                <path
                  d="M14.1033 2.56698C14.4701 1.82374 15.5299 1.82374 15.8967 2.56699L19.1757 9.21093C19.3214 9.50607 19.6029 9.71064 19.9287 9.75797L27.2607 10.8234C28.0809 10.9426 28.4084 11.9505 27.8149 12.5291L22.5094 17.7007C22.2737 17.9304 22.1662 18.2614 22.2218 18.5858L23.4743 25.8882C23.6144 26.7051 22.7569 27.3281 22.0233 26.9424L15.4653 23.4946C15.174 23.3415 14.826 23.3415 14.5347 23.4946L7.9767 26.9424C7.24307 27.3281 6.38563 26.7051 6.52574 25.8882L7.7782 18.5858C7.83384 18.2614 7.72629 17.9304 7.49061 17.7007L2.1851 12.5291C1.59159 11.9505 1.91909 10.9426 2.73931 10.8234L10.0713 9.75797C10.3971 9.71064 10.6786 9.50607 10.8243 9.21093L14.1033 2.56698Z"
                  fill="#FBBF24" />
              </g>
              <defs>
                <clipPath id="clip0_13624_2974">
                  <rect width="30" height="30" fill="white" />
                </clipPath>
              </defs>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
              <g clip-path="url(#clip0_13624_2974)">
                <path
                  d="M14.1033 2.56698C14.4701 1.82374 15.5299 1.82374 15.8967 2.56699L19.1757 9.21093C19.3214 9.50607 19.6029 9.71064 19.9287 9.75797L27.2607 10.8234C28.0809 10.9426 28.4084 11.9505 27.8149 12.5291L22.5094 17.7007C22.2737 17.9304 22.1662 18.2614 22.2218 18.5858L23.4743 25.8882C23.6144 26.7051 22.7569 27.3281 22.0233 26.9424L15.4653 23.4946C15.174 23.3415 14.826 23.3415 14.5347 23.4946L7.9767 26.9424C7.24307 27.3281 6.38563 26.7051 6.52574 25.8882L7.7782 18.5858C7.83384 18.2614 7.72629 17.9304 7.49061 17.7007L2.1851 12.5291C1.59159 11.9505 1.91909 10.9426 2.73931 10.8234L10.0713 9.75797C10.3971 9.71064 10.6786 9.50607 10.8243 9.21093L14.1033 2.56698Z"
                  fill="#FBBF24" />
              </g>
              <defs>
                <clipPath id="clip0_13624_2974">
                  <rect width="30" height="30" fill="white" />
                </clipPath>
              </defs>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
              <g clip-path="url(#clip0_13624_2974)">
                <path
                  d="M14.1033 2.56698C14.4701 1.82374 15.5299 1.82374 15.8967 2.56699L19.1757 9.21093C19.3214 9.50607 19.6029 9.71064 19.9287 9.75797L27.2607 10.8234C28.0809 10.9426 28.4084 11.9505 27.8149 12.5291L22.5094 17.7007C22.2737 17.9304 22.1662 18.2614 22.2218 18.5858L23.4743 25.8882C23.6144 26.7051 22.7569 27.3281 22.0233 26.9424L15.4653 23.4946C15.174 23.3415 14.826 23.3415 14.5347 23.4946L7.9767 26.9424C7.24307 27.3281 6.38563 26.7051 6.52574 25.8882L7.7782 18.5858C7.83384 18.2614 7.72629 17.9304 7.49061 17.7007L2.1851 12.5291C1.59159 11.9505 1.91909 10.9426 2.73931 10.8234L10.0713 9.75797C10.3971 9.71064 10.6786 9.50607 10.8243 9.21093L14.1033 2.56698Z"
                  fill="#FBBF24" />
              </g>
              <defs>
                <clipPath id="clip0_13624_2974">
                  <rect width="30" height="30" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="flex items-center gap-3">
            <h6 class="font-semibold text-lg leading-8 text-black">@john.doe</h6>
            <p class="font-medium text-base leading-7 text-gray-400">Nov 01, 2023</p>
          </div>
        </div>

        <p class="font-normal text-lg leading-8 text-gray-500 ">
          I recently had the opportunity to explore Pagedone's UI design system, and it left a lasting
          impression on my workflow. The system seamlessly blends user-friendly features with a robust set
          of design components, making it a go-to for creating visually stunning and consistent
          interfaces.
        </p>

      </div>
      <div class="flex flex-col sm:flex-row items-center justify-between pt-8  max-xl:max-w-3xl max-xl:mx-auto">
        <p class="font-normal text-lg py-[1px] text-black">46 reviews</p>
        <form>
          <div class="flex">

            <div class="relative ">
              <div class=" absolute -left-0 px-2 top-0 py-2">
                <p class="font-normal text-lg leading-8 text-gray-500">Sort by:</p>

              </div>
              <input type="text"
                class="block w-60 h-11 pr-4 pl-20 py-2.5 text-lg leading-8 font-medium rounded-full cursor-pointer shadow-xs text-black bg-transparent placeholder-black focus:outline-gray-200 "
                placeholder="Most Relevant">
              <div id="dropdown-button" data-target="dropdown"
                class="dropdown-toggle flex-shrink-0 cursor-pointer z-10 inline-flex items-center py-2.5 px-4 text-base font-medium text-center text-[var(--main-text-light)] bg-transparent absolute right-0 top-2 pl-2 "
                type="button"><svg class="ml-2" width="12" height="7" viewBox="0 0 12 7" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M1 1.5L4.58578 5.08578C5.25245 5.75245 5.58579 6.08579 6 6.08579C6.41421 6.08579 6.74755 5.75245 7.41421 5.08579L11 1.5"
                    stroke="#6B7280" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </div>
              <div id="dropdown"
                class="absolute top-9 right-0 z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdown-button">
                  <li>
                    <a href="#"
                      class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Most
                      Relevant</a>
                  </li>
                  <li>
                    <a href="#"
                      class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">last
                      week</a>
                  </li>
                  <li>
                    <a href="#"
                      class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">oldest</a>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<script>
  var swiper_thumbs = new Swiper(".nav-for-slider", { loop: true, spaceBetween: 30, slidesPerView: 5, }); var swiper = new Swiper(".main-slide-carousel", { slidesPerView: 1, thumbs: { swiper: swiper_thumbs, }, });
</script>